/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.center {
  text-align: center;
}
.course-card {
  background-color: #85d9d3;
  padding: 15px;
  width: 300px;
  border-radius: 20px;
}
#course-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.bottomSpace {
  margin-bottom: 20px;
}
